.conteiner{
  max-width: 1300px;
  margin: auto;
  padding: 40px 0 100px;
  display: flex;
  flex-direction: column;
  gap: 50px;
  min-height: calc(100vh - 320px);
}
.findSection{
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.list-menu{
  font-size: 24px;
  font-weight: 600;
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
}
.registers{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.register{
  font-size: 20px;
  font-weight: 400;
  display: flex;
  justify-content: space-between;
  background: linear-gradient(180deg, rgba(149, 125, 205, 0.29) 0%, #523D7F 100%);
  border-radius: 15px;
  height: 55px;
  padding: 0 20px;
  align-items: center;
}
.register div{
  min-width: 33%;
}
.date{
  display: flex;
  justify-content: center;
}

.list{
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.action{
  display: flex;
  justify-content: right;
  gap: 2px;
}
.action span{
  display: inline-block;
  height: 36px;
  width: 36px;
  cursor: pointer;
}
.edit-icon{
  background-image: url("../../../../assets/edit-icon.png");
}
.delete-icon{
  background-image: url("../../../../assets/trash-icon.png");
}
