<div class="conteiner">
  <h1>Meteorological record</h1>
  <form action="">
    <section class="form-top">
      <label for="">Weather</label>
      <input
        type="text"
        class="basicInputStyle"
        placeholder="salvador"
        id="weather"
      />
      <label for="">Date</label>
      <input type="date" class="basicInputStyle" id="date" />
    </section>
    <section class="form-bottom">

      <div class="col-1">
        <div class="weather">
          <label for="">Weather</label>
          <select  id="weatherSelectMorning">
            <option value="Rainy" selected></option>
            <option value="Sunny"></option>
          </select>

          <select  id="weatherSelectMorning">
            <option value="Rainy" selected></option>
            <option value="Sunny"></option>
          </select>

        </div>
      </div>

      <div class="col-2">

      </div>

      <div class="col-3">

      </div>

    </section>
  </form>
</div>
