<div class="conteiner">
  <h1>Meteorological record</h1>
  <form class="form" (ngSubmit)="onSubmit()">
    <section class="form-top">
      <div class="input-city div-input">
        <label for="">City</label>
        <input required type="text" [(ngModel)]="formData.city" name="city" class="basic-input-style" />
      </div>
      <div class="input-date div-input">
        <label for="">Date</label>
        <input required type="date" [(ngModel)]="formData.date" name="date" class="basic-input-style" id="date" />
      </div>
    </section>
    <section class="form-bottom">

      <div class="col-1">
        <div class="weather div-input">
          <label for="">Weather</label>
          <div class="selects">
            <select [(ngModel)]="formData.weather_day" name="weather_day" class="basic-input-style" id="weatherSelectMorning">
              <option value="Rainy" selected>Rainy</option>
              <option value="Sunny">Sunny</option>
            </select>

            <select [(ngModel)]="formData.weather_night" name="weather_night" class="basic-input-style" id="weatherSelectMorning">
              <option value="Rainy">Rainy</option>
              <option value="Sunny" selected>Sunny</option>
            </select>
          </div>
        </div>
        <div class="turn div-input">
          <label for="">Turn</label>
          <div class="selects">
            <span class="basic-input-style">Morning</span>
            <span class="basic-input-style">Evening</span>
          </div>
        </div>
      </div>

      <div class="col-2">
        <div class="line-1">
          <div class="input-max-temperature div-input">
            <label for="">Maximum temperature</label>
            <div class="input-decoration">
              <input required type="number" [(ngModel)]="formData.max_temperature" name="max_temperature" class="basic-input-style input-small" id="inputMaximumTemperature">
              <span>º</span>
            </div>

          </div>
          <div class="input-min-temperature div-input">
            <label for="">Minimum temperature</label><div class="input-decoration">
              <input required type="number" [(ngModel)]="formData.min_temperature" name="min_temperature" class="basic-input-style input-small" id="inputMinimumTemperature">
              <span>º</span>
            </div>

          </div>
        </div>
        <div class="line-2">
          <div class="input-precipitation div-input">
            <label for="">Precipitation</label>
            <div class="input-decoration">
              <input required type="number" [(ngModel)]="formData.precipitation" name="precipitation" class="basic-input-style input-small" id="inputPrecipitation">
              <span>%</span>
            </div>

          </div>

          <div class="input-humidity div-input">
            <label for="">Humidity</label>
            <div class="input-decoration">
              <input required type="number" [(ngModel)]="formData.humidity" name="humidity" class="basic-input-style input-small" id="inputHumidity ">
              <span>%</span>
            </div>

          </div>

          <div class="input-wind-speed div-input">
            <label for="">Wind speed</label>
            <div class="input-decoration">
              <input required type="number" [(ngModel)]="formData.wind_speed" name="wind_speed" class="basic-input-style input-small" id="inputWindSpeed">
              <span>%</span>
            </div>
          </div>
        </div>
      </div>

    </section>
    <section class="buttons">
      <button class="button-style" type="reset" routerLink="/" >Cancel</button>
      <button class="button-style" type="submit">Save</button>
    </section>
  </form>
</div>
