.conteiner{
    max-width: 1300px;
    margin: auto;
    padding: 50px 0 100px;
}
label{
    font-size: 24px;
    font-weight: 600;
}
.form{
    display: flex;
    flex-direction: column;
    gap: 60px;
    padding: 60px 0;
}
.form-top {
    display: flex;
    flex-wrap: wrap;
    gap: 200px;
}

.form-bottom {
    background: linear-gradient(180deg, rgba(149, 125, 205, 0.29) 0%, #523D7F 100%);
    padding: 80px 60px 90px 17px;
    border-radius: 15px;
    display: flex;
    flex-wrap: wrap;
}
.col-1{
    display: flex;
    flex-wrap: wrap;
    min-width: 33%;
    gap: 25px;
}
.col-2{
    display: flex;
    flex-wrap: wrap;
    min-width: 67%;
    flex-direction: column;
}
.line-1{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.line-2{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.basic-input-style {
    background: linear-gradient(180deg, #957DCD 0%, #523D7F 100%);
    color: white;
    font-size: 20;
    font-weight: 400;
    height: 57px;
    padding: 0 10px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    border: none;  
}
.input-small{
    max-width: 74px;
}
.weather select{
    width: 160px;
}
.weather option{
    background-color: #523D7F;
    color: white;
    border: none;
}
.div-input{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 6px;
}
.selects{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 30px;
}