.container {
  display: flex;
  max-width: 1200px;
  margin: auto;
  flex-direction: column;
  gap: 20px 0;
  flex-wrap: wrap;
  align-items: center;
}
.today {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 1200px;
}
.box-input-city div {
  display: flex;
  margin-top: 10px;
  align-items: center;
  gap: 20px
}
.input-city {
  background: linear-gradient(180deg, #957dcd 0%, #523d7f 100%);
  display: flex;
  align-items: center;
  height: 57px;
  width: 500px;
  max-width: 500px;
  padding: 0 25px;
  box-sizing: border-box;
  border-radius: 15px;
}
.input-city input{
  background-color: transparent;
  height: 100%;
  width: 100%;
  border: none;
  color: white;
  font-size: larger;
  padding-left: 15px;
}
.search{
  font-size: 26px;
}

.informations-today{
  display: flex;
  flex-wrap: wrap;
  padding: 20px 65px;
  border-radius: 15px;
  background: linear-gradient(180deg, #957DCD 0%, #523D7F 100%);
  width: 1200px;
  max-width: 1200px;
  justify-content: space-between;
  box-sizing: border-box;
}
.weather{
  display: flex;
  align-items: center;
}
.temp-today{
  display: flex;
}
.max-temp{
  font-size: 55px;
}
.separator-temp{
  font-size: 35px;
}
.min-temp{
  font-size: 25px;
}
.plus-information{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  min-width: 50%;
  text-align: center;
}

.registers-box{
  display: flex;
  flex-direction: column;
  width: 90%;
  max-width: 700px;
  flex-wrap: wrap;
}
.register{
  display: flex;
  flex-wrap: wrap;
  height: 55px;
  align-items: center;
  justify-content: space-between;
  margin: auto;
  width: 100%;
}
.temp-by-register{
  display: flex;
  gap: 35px;
}

@media (max-width: 600px) {
  .today{
    flex-direction: column;
    text-align: center;
    align-items: center;
  }

  .informations-today{
    flex-direction: column;
    width: 90%;
    margin: 0 auto;
    gap: 20px 0;
  }
  .box-input-city{
    width: 90%;
  }
  .weather{
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .plus-information{
    flex-direction: column;
    align-content: center;
    gap: 20px 0;
    text-align: center;
  }
  .register{
    width: 90%;
  }
}
