.conteiner {
  max-width: 1300px;
  margin: auto;
  padding: 50px 0 100px;
}

label {
  font-size: 24px;
  font-weight: 600;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 60px;
  padding: 60px 0;
}

.form-top {
  display: flex;
  flex-wrap: wrap;
  gap: 200px;
}

.form-bottom {
  background: linear-gradient(180deg, rgba(149, 125, 205, 0.29) 0%, #523D7F 100%);
  padding: 80px 60px 90px 17px;
  border-radius: 15px;
  display: flex;
  flex-wrap: wrap;
}

.col-1 {
  display: flex;
  flex-wrap: wrap;
  min-width: 33%;
  gap: 25px;
}

.col-2 {
  display: flex;
  flex-wrap: wrap;
  min-width: 67%;
  flex-direction: column;
}

.line-1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.line-2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.basic-input-style {
  background: linear-gradient(180deg, #957DCD 0%, #523D7F 100%);
  color: white;
  font-size: 20px;
  font-weight: 400;
  height: 57px;
  padding: 0 0 0 10px;
  border-radius: 15px;
  display: flex;
  align-items: center;
  border: none;
  box-sizing: border-box;
}
.input-decoration{
  display: flex;
  align-items: center;
  background: linear-gradient(180deg, #957DCD 0%, #523D7F 100%);
  max-width: 74px;
  border-radius: 15px;
  box-sizing: border-box;
}
.input-decoration span{
  /* background-color: blue; */
}
.input-small {
  display: flex;
  text-align: right;
  max-width: 44px;
}

.weather select {
  width: 160px;
}

.weather option {
  background-color: #523D7F;
  color: white;
  border: none;
}
.turn span{
padding: 0 10px;
}

.div-input {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 6px;
}

.selects {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 30px;
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 34px;
  justify-content: right;
}

.button-style {
  height: 58px;
  min-width: 275px;
  justify-content: center;
  font-size: 24px;
  font-weight: 500;
  background: linear-gradient(180deg, #957DCD 0%, #523D7F 100%);
  color: white;
  border-radius: 15px;
  border: none;
  cursor: pointer;
  box-sizing: border-box;
}
