/* You can add global styles to this file, and also import other style files */

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: white;
  font-family: "Poppins", sans-serif;
  background-image: linear-gradient(to bottom, #352163, #331972, #33143c);
  min-height: 100vh;
  padding: 20px 0;
}

h1,h2,h3,h4,span,div{
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 32px;
  font-weight: 600;
}

input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
